# معلومات المطعم
RESTAURANT_NAME=So Bnin
RESTAURANT_PHONE=+212642506150
RESTAURANT_WHATSAPP=+212642506150
RESTAURANT_ADDRESS=زاكورة، المغرب
RESTAURANT_MAPS=https://maps.google.com


DEBUG=True
SECRET_KEY=g
DATABASE_URL=g